.profileImage{
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    font-size: 3em;
    background: var(--profileBg);
    color: var(--profileText);
}