.searchPageDiv {
    padding: 35px;
}

.searchInput {
    width: 100%;
    padding: 13px;
    font-size: 1rem;
    border-radius: 20px;
    border: 1px solid var(--secondary-color);
    outline: 0;
    background: white;
    color: black;
}

.studentsContainer {
    width: 100%;
    margin-top: 50px;
    display: flex;
    gap: 50px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.studentContainer {
    width: 15%;
    aspect-ratio: 1;
    background-color: var(--secondary-color);
    border-radius: 12px;
    padding: 20px;
    display: grid;
    row-gap: 10px;
    place-items: center;
    text-decoration: none;
}

.textProfileIconContainer {
    width: 70%;
}

.profileImage {
    width: 70%;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
}

.studentName {
    color: var(--profileBg);
    font-weight: 500;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    width: 100%;
    text-align: center;
}

@media (max-width:599px) {
    .studentsContainer {
        flex-wrap: wrap;
    }

    .studentContainer {
        width: 100%;
        aspect-ratio: unset;
    }

    .textProfileIconContainer {
        width: 50%;
    }

    .profileImage {
        width: 50%;
    }

    .studentName{
        font-size: 1.2rem;
    }
}

@media (min-width:599px) and (max-width: 992px) {
    .studentContainer {
        width: 26%;
    }

    .textProfileIconContainer {
        font-size: 14px;
    }

    .studentName {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1rem;
        width: 100%;
    }
}